{% extends "layout.html" %}
{% block title %}Config{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{{notifications()}}

{% block content %}
<div class="container">
    <div class="text-center m-2 p-2">
        <p class="bg-light m-2 p-2">
            <label for="" class="">Mantenimiento:</label>
            {% if m == True %}
            <a class="btn btn-danger" href="configm1" onclick="return confirm('¿Está seguro que quiere poner la página en Funcionamiento?')">Activar web</a>
            {% else %}
            <a class="btn btn-primary" href="configm2" onclick="return confirm('¿Está seguro que quiere poner la página en Mantenimiento?')">Desactivar web</a>
            {% endif %}
        </p>
        <p class="bg-light m-2 p-2">
            <form action="/configuration/configp" method="post">
                <label for="">Cantidad de Registros por pagina: </label>
                <input type="text" name="cantpag" value="{{cantpag}}" placeholder="{{cantpag}}" size="3">
                <input class="btn btn-primary" type="submit" value="Actualizar" onclick="return confirm('¿Está seguro que quiere cambiar la Cantidad de páginas?')">
            </form>
        </p>
        <p class="bg-light m-2 p-2">
            <form action="/configuration/configi" method="post">
                <label for="">Informacion de Contacto:</label>
                <input class="m-2" type="text" name="inf" value="{{inf}}" placeholder="{{inf}}" size="90">
                <input class="btn btn-primary" type="submit" value="Actualizar" onclick="return confirm('¿Está seguro que quiere cambiar la Información de contacto?')">
            </form>
        </p>
        
    </div>
</div>
{% endblock %}